## Tutorial 28-MultiCollinearity In Linear Regression- Part 2

In [1]:
import pandas as pd

In [2]:
import statsmodels.api as sm
df_adv=pd.read_csv('Advertising.csv', index_col=0)

In [3]:
df_adv.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
X=df_adv[['TV', 'Radio', 'Newspaper']]
y=df_adv['Sales']

In [5]:
X.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [6]:
X=sm.add_constant(X)

In [7]:
X

     const     TV  Radio  Newspaper
1      1.0  230.1   37.8       69.2
2      1.0   44.5   39.3       45.1
3      1.0   17.2   45.9       69.3
4      1.0  151.5   41.3       58.5
5      1.0  180.8   10.8       58.4
..     ...    ...    ...        ...
196    1.0   38.2    3.7       13.8
197    1.0   94.2    4.9        8.1
198    1.0  177.0    9.3        6.4
199    1.0  283.6   42.0       66.2
200    1.0  232.1    8.6        8.7

[200 rows x 4 columns]

In [8]:
## Fit a ols model with intercep on TV and Radio
model=sm.OLS(y,X).fit()

In [9]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Tue, 01 Dec 2020   Prob (F-statistic):           1.58e-96
Time:                        10:18:03   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
Radio          0.1885      0.009     21.893      0.000       0.172       0.206
Newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
import matplotlib.pyplot as plt
X.iloc[:,1:].corr()

                 TV     Radio  Newspaper
TV         1.000000  0.054809   0.056648
Radio      0.054809  1.000000   0.354104
Newspaper  0.056648  0.354104   1.000000

In [21]:
df_salary=pd.read_csv('Salary_Data.csv')

In [22]:
df_salary.head()

   YearsExperience   Age   Salary
0              1.1  21.0  39343.0
1              1.3  21.5  46205.0
2              1.5  21.7  37731.0
3              2.0  22.0  43525.0
4              2.2  22.2  39891.0

In [24]:
X=df_salary[['YearsExperience', 'Age']]
y=df_salary['Salary']

In [25]:
X=sm.add_constant(X)
model=sm.OLS(y,X).fit()

In [26]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.958
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     307.7
Date:                Mon, 30 Nov 2020   Prob (F-statistic):           2.62e-19
Time:                        12:20:41   Log-Likelihood:                -301.09
No. Observations:                  30   AIC:                             608.2
Df Residuals:                      27   BIC:                             612.4
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            6.159e+04   4.45e+04      1.384      0.178   -2.97e+04    1.53e+05
YearsExperience  1.088e+04   1812.211      6.002      0.000    7158.398    1.46e+04
Age             -1722.4405   2138.796     -0.805      0.428   -6110.888    2666.007
==============================================================================
Omnibus:                        2.597   Durbin-Watson:                   1.744
Prob(Omnibus):                  0.273   Jarque-Bera (JB):                2.317
Skew:                           0.612   Prob(JB):                        0.314
Kurtosis:                       2.403   Cond. No.                     1.09e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.09e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [27]:
X.iloc[:,1:].corr()

                 YearsExperience       Age
YearsExperience         1.000000  0.977631
Age                     0.977631  1.000000